<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>表</title>
</head>
<body>
  <h2>日別ボウリング合計スコア・アベレージ表</h2>
  <table>
      <% for( let row of data ) { %>
        ID:<%= row.no %>
        年月日:<%= row.id %>
        ゲーム数:<%= row.all %>
        合計スコア:<%= row.code %>
        平均スコア:<%= row.ave %>
        <button class="data">削除する<span class="arrow">←</span></button><br>
      <% } %>
          ↑NEW<br>
          <button class="data">削除する<span class="arrow">←</span></button><br>
          <a href="/public/index.html">ホームに戻る</a><br>
          <a herf="/bowlingscore.html">入力に戻る</a>
  </table>
</body>
</html>